
.NewsContainer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  min-width: 90%
  width: 90%
  margin-left: 7%
  // border: 1px solid grey
  .NewsConntainerRow
    display: flex
    align-items: center
    justify-content: center
    // width: 50vw
    width: calc(50% - 1px)
    // height: calc(100vh - 40px)
    height: 100vh
    // border: 2px solid black

@media screen and (min-width: 3400px)
  .NewsContainer
    .NewsConntainerRow
      width: calc(25% - 1px)

@media screen and (max-width: 1300px)
  .NewsContainer
    .NewsConntainerRow
      width: calc(100% - 1px)
